#HeaderLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 0.5%;
    width: 9%;
    min-width: 110px;
}

.navbar {
    font-size: 1.5em;
    background-color: rgb(255, 255, 255);
}

hr {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    width: 85%;
    border-top: 1.5px solid rgb(0, 0, 0);
    border-bottom: 1.5px solid rgb(0, 0, 0);
}

main button {
    font-weight: lighter;
    width: 33%;
    height: 70px;
    min-width: 150px;
}   

.btnStyle {
    box-shadow: 12px 12px 2px 1px rgba(4, 4, 41, 0.2);
}

.container p {
    font-size: 1.35em;
}

.feature {
    padding: 0 50px 0 0;
}

.featureImages {
    margin-top: 200px;
    margin-left: 1em;
}



.faq, .accordion-button {
    font-size: 1.2em;
}

.footerIcons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
    width: 9%;
}

@media (max-width: 600px) {
    #Card {
        margin-left: 5%;
        min-width: 115%;
    }
    .faq {
        min-width: 100%;
    }
    #FaqItem {
        margin-top: 12%;
    }
    
}